<input
	v-model="firstname"
	type="text"
	placeholder="Vorname"
/>
<input
	v-model="lastname"
	type="text"
	placeholder="Nachname"
/>

<select v-model="group">
	<option
	value=""
	selected
	disabled
	>
	Klasse auswählen
	</option>
	<option value="b1">7B1</option>
	<option value="b2">7B2</option>
	<option value="c1">7C1</option>
	<option value="midi">7MIDI</option>
	<option value="mu">7MU</option>
</select>
<div v-if="props.debug == 'true'">
	<br />Vorname: {{ firstname }} <br />Nachname: {{ lastname }}
	<br />Selected: {{ group }}
</div>
